/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body,html {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
}
#hero{
    background-image: url("/images/img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F1FAEE;
}
.hero-header{
    background-color: #1D3557;
    padding: 8px 16px;
    width: fit-content;
    margin:0 auto;
    border-radius: 15px;
}
.hero-desc{
    background-color: #457B9D;
    padding: 8px 16px;
    width: 450px;
    margin:20px auto;
    border-radius: 15px;
}
#activities{
    background-color: #F1FAEE;
    padding: 20px;
    h3{
        font-size: xx-large;
        font-weight: bold;
        color: #1D3557;
    }
}
.activities-container{
    display: flex;
    justify-content: space-between;
    max-width:720px;
    margin:0 auto;
}
.actitvity{
    width: 200px;
    color: #1D3557;
    img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    h4{
        width: 150px;
        margin: 10px auto 0;
    }
}

#guide{
    background-color: #A8DADC;
    width: fit-content;
    margin: 20px auto;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
    border-bottom: 8px solid #1D3557;
    padding:20px;
    img{
        width: 200px;
        border-radius: 10px;
    }
}
.guide-details{
    width: 200px;
    margin: auto 10px;
    font-weight: bold;
    font-size: 16px;
    h3{
        font-size: 32px;
    }
    h4{
        font-size: 20px;
    }
}


